---
import Layout from '../components/Layout.astro';
---

<Layout title="Thanks!">
	<main>
		<h1>Thanks! You should now be logged in to the launcher. <span class="text-gradient">Thanks for logging in, BeatCuber!</span></h1>
		
