---
import Layout from '../components/Layout.astro';
---

<Layout title="Logged in with osu!.">
	<main>
		<h1> <span class="text-gradient">You've now authorized with osu!. You can close this window and return to BeatCubes</span></h1>
		}
	}
</style>
